/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set dark background color for the body */
body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'ancient_modern_talesregular'; /* Replace 'Your RPG Font' with the name of your custom font */
}

/* Set dark background color for specific elements */
header,
nav,
footer {
    background-color: #333333;
}

/* Set dark text color for specific elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: #ffffff;
    
}

/* Set dark background color and light text color for buttons */
button,
input[type="submit"] {
    background-color: #333333;
    color: #ffffff;
}

/* Set dark background color and light text color for form inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #ffffff;
}

/* Set dark background color and light text color for links */
a {
    color: #ffffff;
}

/* Set dark background color and light text color for table */
table {
    background-color: #333333;
    color: #ffffff;
}

/* Set dark background color and light text color for table cells */
th,
td {
    background-color: #1f1f1f;
    color: #ffffff;
}

/* Set dark background color and light text color for code blocks */
pre,
code {
    background-color: #1f1f1f;
    color: #ffffff;
}


